.App {
  text-align: center;
}

body {
	overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {

}

.brandname {
    font-size: 80px;
    font-family: "Palatino", serif;
    font-weight: 400;
    color: black;
}

@media (max-width: 480px) {
    .brandname {
        font-size: 40px;
    }
}

@media (max-width: 1200px) and (min-width: 980px) {
    .brandname {
        font-size: 70px;
    }
}

.section-heading {
    font-family: "Open Sans",open-sans,sans-serif;
    margin-top: 10px;
    margin-bottom: 40px;
}

section {
    padding: 30px;
}

#howitworks {
    background-color: #3EDED9;
    color: white;
}

#howitworks h4 {
    font-weight: 200;
}

.how-number {
    font-weight: 600;
    font-size: 80px;
}

.how-heading {
    margin: 15px 0;
    font-weight: 300;
    font-family: "Open Sans",open-sans,sans-serif;
    text-transform: uppercase;
}

#signup-email {
    width: 300px !important;
    border-radius: 0;
    margin-right: 10px;
}

#signup {
    background-color: #4A4A4A;
}

#signup .section-heading {
    color: #3EDED9;
}

.mobile-mockup {
    height: 700px;
}

.social-media-icon {
    color: #3EDED9
}