.hero {
  text-align: center;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.hero-subtitle {
  font: 300 24px "Open Sans",open-sans,sans-serif;
  margin-bottom: 60px;
  color: black;
}

.btn-hero {
  color: white;
  border-color: #3EDED9;
  background-color: #3EDED9;
  border-radius: 0;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-hero:hover {
  color: white;
  border-color: #39CAC6;
  background-color: #39CAC6;
}

.btn-hero:active {
  color: white;
  border-color: #39CAC6;
  background-color: #39CAC6;
}

.btn-hero:focus {
  color:white;
  border-color: #39CAC6;
  background-color: #39CAC6;
}

.white-square {
  background-color: white;
  padding: 40px;
  border: 10px solid #3EDED9;
  margin-bottom: 30px;
  margin-top: 60px;
}
