.response {
  display: none;
}

#bottom-form {
  position: absolute;
  left: -5000px;
}

.inline {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

.inline-fields {
  display: block;
}

@media (max-width: 1200px) and (min-width: 980px) {
  .inline {
    width: 100%;
  } 
} 

@media (max-width: 570px) {
  .inline {
    width: 100%;
  } 
} 